<p-menubar [ngClass]="{ myMenyBar: true }" [model]="menuItems">
  <ng-template #name>
    <a class="navbar-brand" href="#">
      <img alt="logo-Yobber" class="logo" />
    </a>
  </ng-template>
    
    <button class="navbar-toggler" type="button" (click)="toogleNavbar()" [attr.aria-expanded]="!isCollapsed" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <ng-template #item let-item let-root="root">
      <a pRipple class="flex items-center p-menubar-item-link">
        <span [class]="item.icon"></span>
        <span>{{ item.label }}</span>
        <!-- <i *ngIf="item.icon" [ngClass]="['ml-auto pi', root ? 'pi-angle-down' : 'pi-angle-right']"></i> -->
      </a>
    </ng-template>
    <div class="collapse navbar-collapse" [ngClass]="{'show': !isCollapsed}">
      <p-menubar [model]="items" [class]="'w-100 justify-content-end'"></p-menubar>
      
      <div class="d-flex ms-auto" *ngIf="!isLoggedIn">
        <button pButton 
                class="p-button-text me-2" 
                (mouseenter)="isLoginHovered = true" 
                (mouseleave)="isLoginHovered = false"
                [ngClass]="{'p-button-raised': isLoginHovered}"
                (click)="goToLogin()">
          Connexion
        </button>
        <button pButton 
                class="p-button-primary" 
                (mouseenter)="isRegisterHovered = true" 
                (mouseleave)="isRegisterHovered = false"
                [ngClass]="{'p-button-raised': isRegisterHovered}"
                (click)="goToRegister()">
          Inscription
        </button>
      </div>

      <ng-template #end>
        <div *ngIf="isLoggedIn">
          <app-notification-popover></app-notification-popover>
          <a
            pButton
            icon="pi pi-envelope"
            class="p-button-text p-button-rounded"
            pTooltip="Nous contacter"
            [routerLink]="['/contact']" 
          ></a>
        </div>
    
        <div *ngIf="!isLoggedIn">
          <a pButton class="p-button-text me-2" [routerLink]="['/account/login']" >
            Connexion
          </a>
          <a pButton class="p-button-primary" [routerLink]="['/account/register']">
            Inscription
          </a>
        </div>
      </ng-template>

      <div class="ms-auto" *ngIf="isLoggedIn">
        <app-notification-popover></app-notification-popover>
      </div>
    </div>

