<nav class="navbar navbar-expand-lg navbar-light bg-light" [ngClass]="myMenuBar">
  <div class="container">
    <a class="navbar-brand" (click)="goToHome()">
      <img [src]="imgLogo" alt="Logo" class="logo">
    </a>
    
    <button class="navbar-toggler" type="button" (click)="toogleNavbar()" [attr.aria-expanded]="!isCollapsed" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" [ngClass]="{'show': !isCollapsed}">
      <p-menubar [model]="items" [class]="'w-100 justify-content-end'"></p-menubar>
      
      <div class="d-flex ms-auto" *ngIf="!isLoggedIn">
        <button pButton 
                class="p-button-text me-2" 
                (mouseenter)="isLoginHovered = true" 
                (mouseleave)="isLoginHovered = false"
                [ngClass]="{'p-button-raised': isLoginHovered}"
                (click)="goToLogin()">
          Connexion
        </button>
        <button pButton 
                class="p-button-primary" 
                (mouseenter)="isRegisterHovered = true" 
                (mouseleave)="isRegisterHovered = false"
                [ngClass]="{'p-button-raised': isRegisterHovered}"
                (click)="goToRegister()">
          Inscription
        </button>
      </div>

      <div class="ms-auto" *ngIf="isLoggedIn">
        <app-notification-popover></app-notification-popover>
      </div>
    </div>
  </div>
</nav> 