<p-menubar [ngClass]="myMenuBar" [model]="items">
    <ng-template #start>
        <a class="navbar-brand" href="#">
            <img [src]="imgLogo" alt="logo-Yobber" class="logo">
        </a>
    </ng-template>
    <ng-template #item let-item let-root="root">
        <a pRipple class="flex items-center p-menubar-item-link">
            <span>{{ item.label }}</span>
            <p-badge *ngIf="item.badge" [ngClass]="{ 'ml-auto': !root, 'ml-2': root }" [value]="item.badge" />
            <span *ngIf="item.shortcut"
                class="ml-auto border border-surface rounded bg-emphasis text-muted-color text-xs p-1">{{
                item.shortcut }}</span>
            <i *ngIf="item.items" [ngClass]="['ml-auto pi', root ? 'pi-angle-down' : 'pi-angle-right']"></i>
        </a>
    </ng-template>
    <ng-template #end>
        <div class="flex items-center gap-2">
            <p-button label="Se connecter" routerLink="account/login" [rounded]="true"
                [style]="{'background-color': 'white', 'border-color': '#4a5568', 'color': 'black', 'margin-right': '20px'}" />
            <p-button label="S'inscrire" [rounded]="true"
                [style]="{'background-color': 'white', 'border-color': '#4a5568', 'color': 'black', 'margin-right': '20px'}" />

            <p-button label="Nous contacter" [rounded]="true"
                [style]="{'background-color': '#f4f6f8','color': '010327', 'border-color': 'grey'}" />
        </div>
    </ng-template>
</p-menubar>