<footer class="footer">
    <div class="footer-section">
      <img [src]="imgLogo" alt="logo-Yobber" class="footer-logo" />
      <p>La puissance de la connexion client se manifeste dans chaque interaction, représentant une opportunité unique.</p>
      <div class="social-icons">
        <i class="pi pi-facebook"></i>
        <i class="pi pi-twitter"></i>
        <i class="pi pi-linkedin"></i>
        <i class="pi pi-youtube"></i>
      </div>
    </div>
    <div class="footer-section">
        <h3>Navigation rapide</h3>
        <ul>
          <li><a [routerLink]="['/']">Accueil</a></li>
          <li><a [routerLink]="['/account/register']">Nos partenaires</a></li>
          <li><a [routerLink]="['/account/register']">Nous rejoindre</a></li>
        </ul>
      </div>
    <div class="footer-section">
      <h3>Les Offres par secteur</h3>
      <ul>
        <li><a [routerLink]="['/offers']"></a>Commerciale/vente/Export</li>
        <li><a [routerLink]="['/offers']"></a>Marketing / E-business</li>
        <li><a [routerLink]="['/offers']"></a>RH / Personnel / Formation</li>
        <li><a [routerLink]="['/offers']"></a>Informatique / Electronique</li>
        <li><a [routerLink]="['/offers']"></a>Banque / Finance</li>
      </ul>
    </div>
  
    <div class="footer-section">
      <h3>Contacts</h3>
      <ul>
        <li>{{tel}}</li>
        <li>{{mail}}</li>
        <li>{{adress}}</li>
        <li><a [routerLink]="['/contact']"></a>Nous contacter</li>
      </ul>
    </div>
  
    <div class="footer-section">
      <h3>Légal</h3>
      <ul>
        <li>Mentions légales</li>
        <li>Politique de confidentialité</li>
        <li>Politique de qualité</li>
        <li>Politique environnementale</li>
        <li>FAQ</li>
      </ul>
    </div>
  
    <div class="footer-bottom">
      <p>Copyright Yobber® 2025. Site web réalisé par 🐺 Startech</p>
    </div>
  </footer>
 