/* You can add global styles to this file, and also import other style files */
@import url(./app/core/components/header/header.component.scss);
@import url(./app/core/components/footer/footer.component.scss);
@import url(./app/modules/home/components/home/home.component.scss);
@import url(./app/modules/account/components/login/login.component.scss);
@import url(./app/modules/offer/components/offer-card/offer-card.component.scss);
@import url(./app/modules/offer/components/offer-filters/offer-filters.component.scss);
@import url(./app/modules/offer/components/offer-list/offer-list.component.scss);
@import url(./app/modules/offer/components/offer-search/offer-search.component.scss);
// @import url(./app/core/components/header/header.component.ts);


html {
    font-size: 14px;
    font-family: "Inter var", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
    line-height: normal;
    overflow-y: scroll;
    margin-right: 0;
}

:root {
  --color-primary: #010327;
}
  
body {
  --app-bar-color: #010327;
  --border-color: rgb(206, 201, 201);
  --background-color: white;
  --text-color: black;
    background: var(--surface-ground);
    color: #696969;
    padding: 1rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: rgb(248, 247, 247);
    margin: 0;
    padding: 0;
    width: 100%;
    // font-size: 160px;
    overflow-x: hidden;
    --p-radiobutton-background: transparent;
    --p-radiobutton-icon-checked-color: transparent;
    --p-radiobutton-icon-checked-hover-color: transparent;
    --p-paginator-background: transparent;
    --p-paginator-nav-button-selected-background: var(--p-primary-color);
    --p-paginator-nav-button-color: #090000;
    --p-inputtext-color: #000000;
    --p-dialog-background: #ffffff;
    --p-select-background: #ffffff;
    --p-inputtext-background: #ffffff;
    --p-textarea-background: #ffffff;
    --p-dialog-color: #000000;
    --p-select-option-color: #000000;
    --p-select-color: #000000;
    --p-content-background: #ffffff;
    --p-datatable-row-color: #ffffff;
    --p-datatable-row-color: #000000;
    --p-datatable-header-cell-background: #010327 ;
    --p-card-background : var(--background-color);
    --p-card-color: var(--text-color);
    --p-card-border-radius: 10px;
    --p-card-body-padding: 10px ;
    --p-card-shadow: 0 .125rem .25rem rgba(75, 73, 73, 0.5);
    --p-inputgroup-addon-background	: var(--background-color);
    --p-inputgroup-addon-color: rgb(61, 60, 60);

    --p-datepicker-panel-background	: #ffffff;
    --p-datepicker-panel-color	: #000000;
    --p-datepicker-header-background	: #010327;
    --p-datepicker-header-color	: #000000;
    --p-datepicker-date-color	: #000000;
    --p-datepicker-week-day-color: #000000;
    // --p-inputgroup-addon-border-color: var(--border-color);
    

    --p-menubar-submenu-background: #010327;
  
    .p-select-overlay {
      --p-text-color:#000000;
      --p-inputtext-background: transparent;
      --p-text-color: #000000;
      --p-list-option-color: #000000;
      --p-list-option-selected-color: #000000;
      
      background-color: #fff;
    }
    .p-button {
      padding: 0.5rem 1rem !important;
    }
    .p-dialog-close-button {
      background-color: #f70505 !important;
    }

    .p-datatable-tbody > tr {
      background-color: #ffffff !important;
    }
    .p-textarea {
      // background-color: #ffffff !important;
      width: 100% !important;
    }
    .p-datatable-table {
      border-radius: 8px !important;

    }
    .p-popover{
      background-color: #ffffff !important;
    }
    --p-editor-toolbar-background	: white;
    --p-editor-content-background	: white;
    --p-editor-toolbar-item-color	: #000000;
    --p-editor-content-color	: #000000;
    
}
