<div class="header">Offers</div>
<p-button
  label="Add new offer"
  icon="pi pi-plus"
  styleClass="p-button-success"
  [ngClass]="{ add: true }"
></p-button>

<p-card>
  <ng-template pTemplate="content">
    <div class="filters">
      <p-datepicker
        placeholder="Start date"
        [iconDisplay]="'input'"
        [showIcon]="true"
        [showButtonBar]="true"
        inputId="icondisplay"
      />
      <p-datepicker
        placeholder="End date"
        [iconDisplay]="'input'"
        [showIcon]="true"
        [showButtonBar]="true"
        inputId="icondisplay"
      />
      <p-select
        [options]="customers"
        [checkmark]="true"
        optionLabel="label"
        [showClear]="true"
        placeholder="Customers"
        class="w-full md:w-56"
      />
      <p-inputgroup>
        <p-inputgroup-addon>
          <i class="pi pi-search"></i>
        </p-inputgroup-addon>
        <input pInputText placeholder="Search..." />
      </p-inputgroup>
    </div>

    <p-table #table [value]="offers" [paginator]="true" [rows]="10">
      <ng-template pTemplate="header">
        <tr>
          <th>Date</th>
          <th>Customers</th>
          <th>Poste</th>
          <th>Closing date</th>
          <th>Salary</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-offer>
        <tr >
          <td>{{ offer.date }}</td>
          <td>{{ offer.customer }}</td>
          <td>{{ offer.poste }}</td>
          <td>{{ offer.closingDate }}</td>
          <td>{{ offer.salary }}</td>
        </tr>
      </ng-template>
    </p-table>
  </ng-template>
</p-card>
